<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>배잇</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb4304831812967754</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao7b37ae9df646d33d208b87834ed3b949</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.noahnomad.baeit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>baeit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.noahnomad.baeit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>4304831812967754</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookClientToken</key>
	<string>b6db29382f95fbba6c0569c04b40c90d</string>
	<key>FacebookDisplayName</key>
	<string>배잇</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://com.noahmoad.baeit</string>
		<string>app://com.noahnomad.baeit</string>
		<string>baeit://com.noahnomad.baeit</string>
		<string>baeit://app-link.baeit.co.kr</string>
		<string>https://app-link.baeit.co.kr</string>
		<string>baeit://app-link.baeit.co.kr/link</string>
		<string>https://app-link.baeit.co.kr/link</string>
		<string>https://www.baeit.co.kr</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>7b37ae9df646d33d208b87834ed3b949</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao7b37ae9df646d33d208b87834ed3b949</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>storylink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>oqc21anj6j</string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>클래시 소개 시 필요한 사진을 촬영하기 위해 카메라를 사용합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>동네 검색 및 검색된 클래스와의 거리를 표시하기 위해 현재 위치를 확인합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>동네 검색 및 검색된 클래스와의 거리를 표시하기 위해 현재 위치를 확인합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>동네 검색 및 검색된 클래스와의 거리를 표시하기 위해 현재 위치를 확인합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>문의 시 정확한 사항을 알기 위한 동영상 찰영 및 음성인식 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>클래스 작성 시 사진을 등록하기 위하여 사진 정보를 가져옵니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>사용자 앱 사용 경로를 추적하기 위해 IDFA 권한을 허용해주세요.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
